* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 70px;
    justify-content: space-evenly;
    background-color: rgb(21, 20, 20);
    color: rgb(248, 239, 239); 
    display: flex;
    align-items: center;
}
.nav-logo{
    height : 60px;
    width : 60px;
    
}
.logo{
    background-image: url("https://cdn-icons-png.flaticon.com/128/942/942748.png");
    background-size: cover;
    justify-content: center;
     margin : 10px 0px 0px 15px; 
    height:40px;
    width : 40px;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
/*----box-----*/
.nav-address{
    margin-left: 20px;
    width : 60px;
    height: 60px;
}

.add-first{
    margin-top: 10px;
    margin-left: 3px;
    color: #cccccc;
    font-size: 0.65rem;
}
.add-sec{
    font-size: 0.75rem;
}
.add-icon{
    margin : 2px 0px 0px 0px;
    display: flex;
    align-items: center;
    background-size: cover;
}
.nav-search{
    margin-left: 20px;
    display: flex;
    justify-content: space-evenly;
    background-color:  #febd68;
    width : 620px;
    height : 40px;
    border-radius: 3px;
}
.search-select{
    background-color: #f3f3f3;
    width : 50px;
     align-items: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1 rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: black;
}
.nav-search:hover{
    border : 2px solid #febd88;
}
/*box4*/
.nav-sign-in{
    margin-left: 20px;
}
.nav-return{
    margin-left: 25px;
}
span{
    font-size: 0.7rem;

}
.nav-second{
    font-size: 0.85rem;
    font-weight : 700;
}
.nav-cart img{
   font-size: 35px;
}
.nav-cart{
    margin-left: 20px;
    font-size: 0.85rem;
    font-weight: 700;
}
/* panel */
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-option p{
    display: inline;
    margin-left: 10px;
}
.panel-option{
    width: 75%;
    font-size: 0.85rem;
}
.panel-end{
    font-size : 0.9rem;
    font-weight: 700;
}
/*hero section*/
.hero-section{
    background-image: url("https://images-eu.ssl-images-amazon.com/images/G/31/img23/BAU-Nov/Laptops_GW-Hero/Smartchoice_Hero_3000x1200._CB572708562_.jpg");
    height: 450px;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: white;
    color:black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 40px;
}

/* shop section */
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    height : 350px;
    width: 23%;
    background-color: white;
    padding : 20px 0px 15px;
    margin-top: 5px;
}
.box-img{
    height: 300px;
    /* width : auto; */
    background-size: cover;
    margin-top: 1rem;
    margin-right: 1rem;
    /* background-color: contain; */
    
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
/* footer*/
footer{
    margin-top: 15px;
}
.foot-panel{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
.foot-panel2{
    background-color: #222f3d;
    color:white;
    height :300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
}

.foot-panel3{
    background-color: #222f3d;
    color:white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.logo{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLc-Q5odp82555HFS9O7C1u55B8gTcdbHkeuJoxXVe8mvuzIN70Sla&usqp=CAE&s");
    background-size: cover;
    justify-content: center;
     margin : 10px 0px 0px 15px; 
    height:40px;
    width : 40px;
}
.foot-panel4{
    background-color: #0f1111;
    height : 80px;
    color: white;
    
}
.pages p{
      font-size: 0.7rem;
      display: flex;
      justify-content: center;
      align-items: center;

}
.copyright{
     font-size: 0.7rem;
     text-align: center;
}